/* index.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    background-color: #efefef;
  
    color: #0f4d92	;
  }
  
  .top-bar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0; /* Start from the top-left corner */
    right: 0; /* End at the top-right corner */
    border-bottom: 2px solid #0f4d92	; /* Add white border */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Maintain the same distance between items */
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #0f4d92	;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust spacing */
  }
  
  .nav-item a:hover {
    color: #323131;
  }
  
  .down-arrow {
    margin-left: 5px;
  }
  
  .home-page {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #0f4d92	;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .exam-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
  }
  
  .exam-button {
    background-color: #434242;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .exam-button:hover {
    background-color: #0656b2	;
    color: #ffffff;
  }
